body{
    margin: 0;
}

#mainTop{
    position: fixed;
    width: 100%;
}

#topBars{
    background-color: #0C9786;
    padding:10px;
    color:white;
    height: auto;
    overflow: auto;
}

.container{
    width:90%;
    margin: auto;
}

.topLeft{
    width:50%;
    float: left;
}

.topRight{
    width:50%;
    float: right;
}

.topRight ul{
    margin: 0;
    text-align: right;
}

.topRight ul li{
    display: inline;
}

.topRight ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.mFlex{
    display: flex;
    justify-content: space-between;
}

.topRights ul{
    margin: 0;
   
}

.topRights ul li{
    display: inline;
}

.topRights ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#topMenus{
    background-color: black;
    height: auto;
    overflow: auto;
    padding:10px;
}

.logo img{
    width: 20%;
}

.menus ul li{
    display: inline;
    margin-left: 15px;
}

.menus ul li a{
    color: white;
}

.sliderBottoms{
    background: linear-gradient(-45deg,#0d4969,#0c9786);
    height: auto;
    overflow: auto;
}

.colFlex img{
    width:50px;
    height: 50px;
}

.colFlex{
    display: flex;
    align-items: center;
}

.colFlex h3{
    color: white;
    font-weight: bold;
    font-size: 30px;
    margin: 0;
}

.colFlex h5{
    font-size: 18px;
    color: white;
    margin: 0;
}

.flexMargin{
    margin-left: 10px;
}

.sliderInfo{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.canRow{
    background: linear-gradient(-45deg,#0d4969,#0c9786);
    padding: 20px;
    margin-top: 30px;
}

.canRow h2{
    color: white;
    text-align: center;
    font-size: 35px;
}

.title{
    padding: 20px;
}

.title h1{
    text-align: center;
    font-size: 25px;
}

.jobCol{
    text-align: center;
}

.jobCol img{
    border: 1px solid #FF0000;
}

.jobFlex{
    display: flex;
}

.clearRow{
    width: 100%;
    height: 25px;
}

.bookDemo{
    background-color: #FF0000;
    width: 150px;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 10px;
    position: fixed;
    top:250px;
    right: -70px;
    transform: rotate(-90deg);
}

.review{
    margin-top: 50px;
}

.reviews{
    background: url('../image/bg-review.jpg');
    padding-top: 30px;
    padding-bottom: 30px;
}

.stuReview h4{
    font-size: 45px;
    color: white;
}

.rFlex{
    display: flex;
    justify-content: space-between;
}

.rContent{
    height: auto;
    overflow: auto;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}
.rForms{
    background-color: white;
}

.rHeading{
    background-color: #0B83C4;
    padding: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.reviewFlex{
    display: flex;
}

.stuReview{
    margin-right: 80px;
}

.stuForm{
    width: 400px;
}

.rForm{
    padding: 10px;
}

.form-control{
    margin-bottom: 10px;
}

.rForm input{
    height: 45px;
    width: 100%;
    border: none;
    border-bottom: 1px solid;
    outline: none;
}

.rForm button{
    width: 100%;
    height: 45px;
    background-color: red;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
}